<section>
    <div class="category-filter">
        <label for="categories">Select Category</label>

        <select (change)="handleCategorySelect()" [(ngModel)]="selectedCategory" name="categories">
            <option value="all-categories">all-categories</option>
            <hr />
            @for (category of productsCategoryList; track category) {
                <option [value]="category">{{category}}</option>
            }
        </select>
    </div>
    <div class="category-filter">
        <label for="sorts">Sort By</label>
        <select (change)="handleSortSelect()" [(ngModel)]="selectedSort" name="sorts">
            @for (sort of sortsList; track sort) {
                <option [value]="sort.value">{{sort.displayName}}</option>
            }
        </select>
    </div>
    <div class="category-filter">
        <label for="search">Search</label>
        <input type="text" [(ngModel)]="searchQuery" name="search" (input)="handleSearch($event)" />
    </div>
</section>
