ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

li {
    position: relative;
    min-width: 200px;
    width: 200px;
    padding: 16px;
    border: 1px solid #e3e3e3;
    margin: 8px;
}

.title {
    height: 40px;
    min-height: 40px;
    text-overflow: ellipsis;
}

.details-link {
    margin-left: 16px;
}