<section>
    <h2>Products List</h2>
    <ul>    
        @for (product of products(); track product.id) {
            <li>
                <p class="title">{{product.title}}</p>
                <img width="200" height="200" [ngSrc]="product.images[0]" alt="product image">
                <p>Price: {{product.price | currency}}</p>
                <p>Stock: {{product.stock}}</p>
                <button style="margin-right: 8px" (click)="cartService.addToCart(product)">Add to cart</button>
                <a routerLink="product/{{product.id}}">See details</a>
            </li>
        }
    </ul>
    @if (isNoMore()) {
        <p>No more products avalable</p>
    } @else {
        <button (click)="loadMore()">Load next 25</button>
    }
</section>
