<section>
    <h2>Products List</h2>
    <ul>    
        @for (product of products(); track product.id) {
            <li>
                <p class="title">{{product.title}}</p>
                <img width="200" height="200" [ngSrc]="product.images[0]" alt="product image">
                <p>Price: {{product.price | currency}}</p>
                <p>Stock: {{product.stock}}</p>
                @if (cartProducts().has(product.id)) {
                    <button [disabled]="cartProducts().get(product.id).quantity >= product.stock" (click)="cartService.addProductToCart(product)">+</button> {{cartProducts().get(product.id).quantity}} <button (click)="cartService.removeProductFromCart(product.id)">-</button>
                } @else {
                    <button (click)="cartService.addProductToCart(product)">Add to cart</button>
                }
                <a class="details-link" routerLink="product/{{product.id}}">See details</a>
            </li>
        }
    </ul>
    @if (isNoMore()) {
        <p>No more products avalable</p>
    } @else {
        <button (click)="loadMore()">Load next 25</button>
    }
</section>
