<ul>
    @for (product of cartProducts().values(); track product.title) {
        <li>
            <p>{{product.title}}</p>
            <p>Quantity: <button [disabled]="product.quantity >= product.stock" (click)="cartService.addProductToCart(product)">+</button> {{product.quantity}} <button (click)="cartService.removeProductFromCart(product.id)">-</button></p>
            <p>Price: {{product.price * product.quantity | currency}} </p>
            <button (click)="cartService.deleteProductFromCartEntirely(product.id)">Remove</button>
        </li>
    }
</ul>

@if (subTotalPrice()) {
    <p>Total price: {{subTotalPrice() | currency}}</p>
    <button [routerLink]="['/checkout']">Continue to Checkout</button>
} @else {
    <p>Cart is empty. <a routerLink="">Go shopping!</a></p>
}
